<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="app.css">

<h1>This is the home page!</h1>

<img alt="center" src="https://www.washingtonpost.com/resizer/uwlkeOwC_3JqSUXeH8ZP81cHx3I=/arc-anglerfish-washpost-prod-washpost/public/HB4AT3D3IMI6TMPTWIZ74WAR54.jpg" width=700px height="500">

<% include partials/footer.ejs  %>